
h1 {
font-family: 'Righteous', cursive;
}

body {
    background-image: url("../images/lashes/lashes.png");
}





.crystal {
width: 200px;
border-style: solid;
border-width: 2px;
height: 200px;

}

.end-goal {
color: fuchsia;
font-size: 30px;
}

.user-score {
    clear: left;
color: #000000;
font-size: 30px;
}

#winning {
    
}

#notwinning {
    
}

#crystalone {
    float:left;
    background-color: red;
background-image: url("../images/pinkcrystal.png"); 
background-position: center   
}

#crystaltwo {
    float:left;
    background-color: blue;
    background-image: url("../images/bluecrystal.png"); 
    background-position: center      
    }

#crystalthree {
    float:left;
        background-color: palevioletred;    
        background-image: url("../images/greencrystal.png"); 
        background-position: center  
        }

#crystalfour {
    float:left;
    background-color: greenyellow;
    background-image: url("../images/prettycrystal.png"); 
    background-position: center  
}
    