
h1 {
font-family: 'Righteous', cursive;
}

/*NOT WORKING FOR SOME REASON*/
body {
    background-image: url("./assets/images/lashes/lashes.png");
}


.crystal {
width: 100px;
border-style: solid;
border-width: 2px;
height: 100px;

}

.end-goal {
color: fuchsia;
font-size: 24px;
}

.user-score {
color: #000000;
font-size: 24px;
}

#crystalone {
background-color: red;    
}

#crystaltwo {
    background-color: blue;    
    }

#crystalthree {
        background-color: palevioletred;    
        }

#crystalfour {
    background-color: greenyellow;
}
    